/* GLOBAL VARIABLE */
:root {
  --main-bck: #e3cfaa;
  --body-bck: #666547;
}

/* FONT */
@font-face {
  font-family: retro_font;
  src: url("fonts/C64_Pro_Mono_Regular.otf");
}

/* CLASS */

ul {
        list-style-type: none; /* Removes default bullets */
        padding: 0; /* Optional: Removes default padding */
        margin: 0; /* Optional: Removes default margin */
}

.btn-g {
    font-family: retro_font;
    display: flex;
    overflow-x: auto;
    //margin: 0.4em; /* Applies 0.4em margin to top, right, bottom, and left */
    padding: 0.4em;
    //padding-left: 0.5em; /* Overrides the left margin to be 1em */
    list-style: none;
    border: solid 4px #170c32;
    background-color: #F97300;
    color: #32012F;
    text-decoration: none;
    max-width: calc(100% - 1em); /* Adjust max-width as needed */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) when text overflows */
    text-align: center;
    margin: auto;
}


.btn-v,
.btn-h {
    display: flex;
    overflow-x: auto;
    margin: 0.4em; /* Applies 0.4em margin to top, right, bottom, and left */
    padding: 0.4em;
    //padding-left: 0.5em; /* Overrides the left margin to be 1em */
    list-style: none;
    border: solid 4px #170c32;
    background-color: #6fcb9f;
    color: #170c32;
    text-decoration: none;
    max-width: calc(100% - 1em); /* Adjust max-width as needed */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) when text overflows */
}

.btn-g:hover, .btn-v:hover,
.btn-h:hover {
  border: solid 4px #fffeb3;
  background-color: #170c32;
  color: #fffeb3;
}

.title {
  text-transform: uppercase;
  padding: 1em;
  background-color: #170c32;
  color: #fffeb3;
}

.article {
  background-color: var(--main-bck);
  margin: auto;
  border: solid 1em #170c32;
  padding: 2em;
}

.post {
  margin: auto;
  background-color: #fffeb3;
  border: solid 4px #170c32;
  padding: 2em;
  //font-family: retro_font;
  color: #170c32;
}

.post p {
  color: #170c32 !important;
  background-color: #FFFF00;
  font-size: 20px;
}

.post img {
  width: 100%;
  height: 25%;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5 {
  color: #fffeb3;
  background-color: #170c32;
  padding-left: 0.3em;
}

.footer {
  color: #170c32;
  text-align: center;
}

.hidden {
  display: none;
}

/* COMPONENT */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: x-large;
  text-transform: capitalize;
}

blockquote {
  font-size: 20px;
  border: solid 4px #170c32;
  padding: 1.5em;
}

p {
  font-size: large;
  font-size:24px;
  color: #170c32;
  padding: 0.5em;
}

li {
  //font-family: retro_font;
  padding: 0.2em;
  color: #170c32;
  //background-color: #ffe28a;
  list-style: none;
}

a {
  //font-family: retro_font;
  font-size: 20px;
  color: #fb2e01;
}

img {
  width: 100%;
  height: 25%;
  max-height: 15em;
  object-fit: cover;
  border: solid 4px #170c32;
}

body {
  //font-family: retro_font;
  font-family: 'Courier New', monospace;
  //font-family: Georgia, serif;
  
  //font-size:2em;
  background-color: var(--body-bck);
  color: #170c32;
  padding: 3em 0em;
}

main {
  max-width: 90%;
  margin: auto;
  padding: 2em;
  padding-bottom: 0em;
}

.footer {
    content: 'AUTHOR: AMOSNIMOS';
    font-family: 'Times New Roman', Times, serif !important; /* Serif font for a retro feel */
    color: #202146; /* Retro color for the text */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding */
    font-size: 1.2em; /* Make the text a bit larger */
    position: relative; /* For the decorative lines */
    margin: 40px 0; /* Add some margin to separate it from the rest of the content */
}

.footer::before,
.footer::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #202146;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer::before {
    left: 0;
}

.footer::after {
    right: 0;
}

.bnw {
    object-fit: scale-down !important;
    height: 100% !important;
    filter: grayscale(100%);
    //width: 100%;
    border: none; /* Correct way to remove the border */
}

.topnav {
    background-color: var(--main-bck);
    border: solid 1em #170c32;
    padding: 0.5em;
}

.badges {
    display: flex;
    margin-top: 0.5em;
    height: 5em;
    width: 100%;
    overflow: hidden; /* Ensures no content overflows the container */
    align-items: center; /* Vertically centers the badges inside the container */
}

.badge {
    border: none !important;
    padding-right: 1em;
    height: 100%; /* Ensures the badge height matches the container's height */
    width: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures the content inside badges fits properly */
    display: block; /* Ensures the badge acts as a block-level element */
}


/* stolen */

.body {
  padding:16px 8px 16px 8px;
  animation: textShadow 1.033s infinite;
}
.flicker {
  pointer-events: none;
  position: fixed;
  width: auto;
  //min-width: 100%;
  height:100%;
  z-index:15;
  background: rgba(9, 8, 8, 0.1);
  animation: flicker 0.3301s infinite;
}
.scanline {
  position:fixed;
  pointer-events: none;
  top:-25%;
  width: auto;
  min-width: 100%;
  height: 2px;
  z-index: 10;
  background: rgba(0, 0, 0, .3);
  opacity: 0.75;
  animation: scanline 7.77s linear infinite;
}
.scanlines {
  position:fixed;
  pointer-events: none;
  width: auto;
  min-width: 100%;
  height:100%;
  z-index: 5;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
}

@keyframes flicker { 0% { opacity: 0.119; } 5% { opacity: 0.02841; } 10% { opacity: 0.35748; } 15% { opacity: 0.88852; } 20% { opacity: 0.9408; } 25% { opacity: 0.35088; } 30% { opacity: 0.22426; } 35% { opacity: 0.26418; } 40% { opacity: 0.09249; } 45% { opacity: 0.35312; } 50% { opacity: 0.89436; } 55% { opacity: 0.9574; } 60% { opacity: 0.19754; } 65% { opacity: 0.05086; } 70% { opacity: 0.12137; } 75% { opacity: 0.75791; } 80% { opacity: 0.89617; } 85% { opacity: 0.90183; } 90% { opacity: 0.20657; } 95% { opacity: 0.64125; } 100% { opacity: 0.78042; }}
/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    top:100%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
@keyframes glitch-skew {
    0% {
        transform: skew(0deg, 0deg);
    }
    48% {
        transform: skew(0deg, 0deg);
        filter: blur(0);
    }
    50% {
        transform: skew(-20deg, 0deg);
        filter: blur(4px);
    }
    52% {
        transform: skew(20deg, 0deg);
    }
    54% {
        transform: skew(0deg, 0deg);
        filter: blur(0);
    }
    100% {
        transform: skew(0deg, 0deg);
    }

}

a, a:visited {
  color: #000000;
  text-shadow: 1px 1px 2px #00ff00, 0 0 1vmin #00ff00, 0 0 3px #00ff00;
  text-decoration: none;
}
a:hover, hr {
  color: #00ff00;
}
    
