/* CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header .logo {
    text-align: center;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.header-centered {
    text-align: center;
    margin: 20px 0;
}

.portfolio-grid {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    gap: 10px;
}

.portfolio-item {
    flex: 1 1 calc(25% - 10px); /* Adjusts the width of each column */
    margin: 10px 0;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
